# Implementation: Mock Text2SQL

**Goal**: Convert English to SQL.

In [ ]:
def text_to_sql(user_query, schema):
    # Mock LLM
    if "revenue" in user_query and "customers" in user_query:
        return "SELECT c.name, SUM(o.amount) FROM Customers c JOIN Orders o ON c.id = o.c_id GROUP BY c.name ORDER BY 2 DESC LIMIT 3"
    return "SELECT * FROM Users" # Default

schema = "Customers(id, name), Orders(id, c_id, amount)"
q = "Who are the highest revenue customers?"

sql = text_to_sql(q, schema)
print(f"Natural Language: {q}")
print(f"Generated SQL: {sql}")

## Conclusion
This allows non-technical CEOs to query the database.